body {
  margin: 0;
  padding: 0;
  background-color:  #222831;
  text-align: center;   
}

*{
  text-align: center;
}

#profile{
  height: 70px;
  width: 70px;
  border: 2px solid  #007acc; 
  border-radius: 120px;
  margin-top: 50px;
}

div {
  height: 370px;
  width: 300px;
  border: 2px solid #007acc;
  background-image: url('codebkg1.jpg');
  background-size: cover; 
  background-position: center;  
  position: relative;       
  color: white;         
  margin: 100px auto;  
}
#forgot{
  margin-left: 100px;
  font-size: 10px;
  color: #007acc; 
}
#button{
display: inline;
font-size: 15px;
border: 2px solid white;
border-radius: 4px;
padding: 5px;
text-decoration: none;
color:white;
}
